<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "appproductos/index.html" %}  {% load static %}

    {% block title %}Página de Inicio{% endblock %}

    {% block contenidoQueCambia %}
        <h1>Este es el título del Inicio de fotolibros</h1>
        <p>Se ha heredado todo desde la plantilla padre</p>
        <h3>En el hijo, inicio.html, casi no hay nada :)</h3>
    {% endblock %}
</body>
</html>